body {
    background-image: url(/assets/musicbackground.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.sub-text {
    font-family: 'Shadows Into Light', cursive;
}

.glow-button:hover {
    color: white;
    box-shadow: 0px 10px 15px white;
   }
